<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="\image\cake.svg"/>
    <link rel="stylesheet" href="\styles\null.css"/>
    <link rel="stylesheet" href="\styles\cart.css"/>
    <title>Кондитерская</title>
</head>
<body>
<div class="wrapper">

    <header>
        <div class="block1">
            <div><a th:href="@{/catalog}"><img src="/image/cake.svg"/></a></div>
            <div class="title"><a th:href="@{/catalog}">Кондитерская</a></div>
        </div>
        <div class="block2">
            <a th:href="@{/user}">
                <div class="user_name"><button th:text="${tempUser.getFirstName()}">Имя</button></div>
            </a>
            <a th:href="@{/user/cart}">
                <button class="btn_cart_header"></button>
            </a>
        </div>
    </header>
    <main>
        <div class="block_for_list">
            <ul>
                <li>
                    <div class="order" th:each = "cartItem : ${cart.getItems()}">
                        <div class="item_order" id="item_order">
                            <div class="info_item">
                                <div class="part item_img" th:style="'background-image:url(' + @{'../image/' + ${cartItem.getProduct().getImage()}} + ');'"></div>
                                <div class="part" th:text="${cartItem.getProduct().getName()}">Название</div>
                                <div class="part" th:text="${cartItem.getProduct().getPrice()}">Цена</div>
                            </div>
                            <div>
                                <form method="post">
                                    <button class="btn_del" type="submit" name="btn" th:value="${cartItem.getId()}"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="order_info">
                        <div class="cost" th:text="'Итого: ' + ${cart.getCost()} + ' ₽'">Стоимость</div>
                        <div>
                            <form method="post">
                                <button type="submit" name="btn" value="pay">Оплатить</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        Контакты
    </footer>
</div>
</body>
</html>