<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="\image\cake.svg"/>
    <link rel="stylesheet" href="\styles\null.css"/>
    <link rel="stylesheet" href="\styles\catalog.css"/>
    <title>Кондитерская</title>
</head>
<body>
<div class="wrapper">

    <header>
        <div class="block1">
            <div><a th:href="@{/catalog}"><img src="/image/cake.svg"/></a></div>
            <div class="title"><a th:href="@{/catalog}">Кондитерская</a></div>
        </div>
        <div class="block2">
            <a th:href="@{/login}">
                <div sec:authorize="!isAuthenticated()"><button class="btn_enter">Войти</button></div>
            </a>
            <a sec:authorize="hasRole('USER')" th:href="@{/user}">
                <div sec:authorize="isAuthenticated()"><button class="btn_name" th:text="${tempUser.getFirstName()}">Имя</button></div>
            </a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">
                <div sec:authorize="isAuthenticated()"><button class="btn_name" th:text="${tempUser.getFirstName()}">Администратор</button></div>
            </a>
            <a sec:authorize="hasRole('USER')" th:href="@{/user/cart}">
                <button class="btn_cart_header"></button>
            </a>
        </div>
    </header>

    <div class="mini_title">Десерты</div>
    <div class="error_cart" th:text="${session.error}">Добавление в корзину неавторизованным пользователем</div>
    <main>
        <div class="menu">
            <div th:each="productType : ${productTypes}">
                <button class="btn_item">
                    <a th:href="@{/catalog/{id}(id=${productType.getId()})}">
                        <div class="item" th:text="${productType.getName()}">
                            Элемент меню
                        </div>
                    </a>
                </button>
            </div>
        </div>

        <div class="content">
            <div class="cards" id="cards">
                <div class="card" th:each="product : ${products}">
                    <div class="card_img" th:style="'background-image:url(' + @{'../image/' + ${product.getImage()}} + ');'"></div>
                    <div class="down_card">
                        <div class="card_info">
                            <div th:text="${product.getName()}">Название десерты</div>
                            <div th:text="'Цена: ' + ${product.getPrice()} + ' ₽'" class="price">Цена</div>
                        </div>
                        <form method="post">
                            <button type="submit" class="btn_cart" name="btn" th:value="${product.getId()}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        Контакты
    </footer>

</div>
</body>
</html>