<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="\image\cake.svg"/>
    <link rel="stylesheet" href="/styles/null.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Кондитерская</title>
</head>
<body>
<div class="wrapper">

    <header>
        <div class="block1">
            <div><a th:href="@{/catalog}"><img src="/image/cake.svg"></a></div>
            <div class="title"><a th:href="@{/catalog}">Кондитерская</a></div>
        </div>
        <div class="block2">
            <a th:if="${tempUser == null}"  th:href="@{/login}">
                <button class="btn_enter">Войти</button>
            </a>
        </div>
    </header>

    <main>
        <div class="separator_image">
            <button><a th:href="@{/catalog}">Перейти в каталог</a></button>
        </div>
    </main>

    <footer>
        Контакты
    </footer>
</div>
</body>
</html>