<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" href="\image\cake.svg"/>
  <link rel="stylesheet" href="\styles\null.css"/>
  <link rel="stylesheet" href="\styles\login.css"/>
  <title>Кондитерская</title>
</head>
<body>
<div class="wrapper">

  <header>
    <div class="block1">
      <div><a th:href="@{/catalog}"><img src="/image/cake.svg"/></a></div>
      <div class="title"><a th:href="@{/catalog}">Кондитерская</a></div>
    </div>
  </header>
  <main>
      <div id="error" class="error" th:if="${param.error}">
          Ошибка аутентификации
      </div>
      <form method="post">
        <label>Номер телефона</label>
        <input type="tel" id="username" name="username"/>
        <label>Пароль</label>
        <input type="password" id="password" name="password"/>
        <div class="btns">
          <div><button type="submit">Войти</button></div>
          <div><button><a th:href="@{/reg}">Зарегестрироваться</a></button></div>
        </div>
      </form>


  </main>
  <footer>
    Контакты
  </footer>
</div>
</body>
</html>