main{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.separator_image{
    width: 100%;
    height: 100%;
    background-image: url('../image/cake_image3.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
}

.separator_image button{
    background-color: #F7DBFF;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #f2cbfd;
    font-size: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.separator_image button:hover{
    background-color: #f2cbfd;
}
